$top-bar-height: 60px;
$nav-width: 300px;
$transition-fade-height: 50px;

.main {
    display: flex;
    background-color: #333;
}

.right-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.black-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: black;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    z-index: 99;
}

.top-bar {
    background-color: rgb(44, 44, 44);
    height: $top-bar-height;
    width: 100%;
    flex: 0 0 $top-bar-height;
    box-shadow: black 0 -10px 10px 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 20;
    .left {
        flex: none;
    }
    .middle {
        flex: 1 1 auto;
    }
    .right {
        flex: none;
        display: flex;
        cursor: pointer;
        user-select: none;
    }
    .right .profile-button{
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.15s ease-in-out;
        font-size: 30px;
        font-family: 'Roboto';
        font-weight: 700px;
        background-color: #FFF1;
        color: white;
    }
    .right:hover .profile-button{
        width: 150px;
    }
}

.main-user-pfp {
    width: $top-bar-height;
    height: $top-bar-height;
    //box-shadow: 0 0 10px black;
}

.open-nav-button {
    background-color: #111;
    width: $top-bar-height;
    height: $top-bar-height;
    display: none;
}

.left-nav {
    height: 100vh;
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    z-index: 10;
    width: $nav-width;
    flex: 0 0 $nav-width;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 0px 5px black;
}

@media (max-width: 768px) {
    .left-nav {
        position: fixed;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        left: -$nav-width;
        z-index: 100;
    }

    .left-nav.nav-open {
        left: 0;
        box-shadow: black 0 0 10px;
    }

    .black-overlay.visible {
        opacity: 0.5;
        display: block;
    }

    .open-nav-button {
        display: block;
    }
}

.nav-header {
    height: $top-bar-height;
    flex: 0 0 $top-bar-height;
    box-shadow: black 0 0 5px;
    z-index: 101;
}

.nav-content {
    flex: 1 0 0;
}

.content {
    position: relative;
    height: 0;
    flex: 1 0 0;
}

.content > div {
    height: 100%;
}

a {
    text-decoration: none;
}

.course-name {
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.nav-link {
    color: white;
    user-select: none;
    padding: 20px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.nav-link:hover {
    background-color: #fff2;
}

.nav-link:active {
    background-color: #fff4;
}

.nav-folder {
    .nav-folder-arrow {
        padding: 0px;
        margin: 0px;
        float: right;
        margin-top: -5px;
        position: relative;
        i {
            position: absolute;
            font-size: 30px;
            right: 0px;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        .down {
            transform: translateY(0px);
            opacity: 1;
        }
        .up {
            transform: translateY(10px);
            opacity: 0;
        }
    }
}

.nav-folder.open .nav-folder-arrow {
    .down {
        transform: translateY(-10px);
        opacity: 0;
    }
    .up {
        transform: translateY(0px);
        opacity: 1;
    }
}



.links-collapse {
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #0002;
    box-shadow: 
        inset 0px 11px 8px -10px black,
        inset 0px -11px 8px -10px black;
    .top-shadow {
        height: 10px;
        margin-top: -10px;
        width: 100%;
        //background-color: red;
        box-shadow: black 0 0 10px;
    }
    .bottom-shadow {
        height: 10px;
        margin-bottom: -10px;
        width: 100%;
        //background-color: red;
        box-shadow: black 0 0 10px;
    }
}

.links-collapse.height-auto{
    height: auto;
}

.fill{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #444;
}

.fade-enter {
    opacity: 0;
    transform: translateY($transition-fade-height);
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-out;
}

.fade-enter-done {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateY(-$transition-fade-height);
    transition: all 300ms ease-out;
}

.zoom-fade-enter {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.zoom-fade-enter.profile-view{
    transform: scale(1.1);
    z-index: 1;
}

.zoom-fade-enter.courses-view{
    transform: scale(0.9);
    z-index: 0;
}

.zoom-fade-enter.zoom-fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

.zoom-fade-enter-done {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.zoom-fade-exit {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.zoom-fade-exit.zoom-fade-exit-active.profile-view {
    opacity: 0;
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

.zoom-fade-exit.zoom-fade-exit-active.courses-view {
    opacity: 0;
    transform: scale(0.9);
    transition: all 300ms ease-in-out;
}
