.fill{
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
}

.nav-side{
    flex: 1 0 250px;
    background-color: #222;
}

.page-container{
    flex: 1 1 1000px;
}

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.nav-bar-inner{
    width: 250px;
    margin-right: 10px;
    margin-top: 50px;
}

.nav-group-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #888;
    padding-left: 10px;
}

.link{
    font-size: 18px;
    font-family: 'Roboto';
    color: #AAA;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    margin: 2px;
    user-select: none;
    transition: all 0.1s ease-in-out;
}

.link:hover{
    background-color: #0004;
}

.link:active{
    //transform: translateX(5px);
    background-color: #FFF5;
}

.active .link{
    background-color: #FFF3;    
}

.page{
    padding: 40px;
}

.info-box{
    
}