$transition-fade-height: 50px;

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fill {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    position: relative;
}

.profile-nav-side {
    flex: 1 0 250px;
    background-color: #222;
}

.profile-nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.profile-nav-bar-inner {
    width: 250px;
    margin-right: 10px;
    margin-top: 50px;
}

.profile-nav-group-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    color: #888;
    padding-left: 10px;
}

.profile-nav-link {
    font-size: 18px;
    font-family: "Roboto";
    color: #aaa;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    margin: 2px;
    user-select: none;
    transition: all 0.1s ease-in-out;
    .material-icons {
        display: none;
    }
}

.profile-nav-link.logout{
    color: #C00;
    margin-top: 30px;
}

.profile-nav-link:hover {
    background-color: #0004;
}

.profile-nav-link:active {
    //transform: translateX(5px);
    background-color: #fff5;
}

.active .profile-nav-link {
    background-color: #fff3;
}

.profile-page {
    position: relative;
    height: 100%;
    flex: 1 1 1000px;
}

.page-wrap {
    max-width: 1000px;
    resize: none;
}

.page > div {
    height: 100%;
}

.info-box {
    border-radius: 20px;
    background-color: #222;
    padding: 10px;
    border: 1px solid #555;
}

.info-box.account {
    display: flex;
    .pfp-box {
        flex: 0 0 auto;
        border-radius: 20%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 20px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .other-box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        flex: 1 1 auto;
        font-size: 24px;
        color: #aaa;
        font-family: "Roboto";
        .name,
        .email {
            max-width: 100%;
        }
    }
}

.profile-fade-enter {
    opacity: 0;
    transform: translateY($transition-fade-height);
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-fade-enter.profile-fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-out;
}

.profile-fade-enter-done {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-fade-exit {
    opacity: 1;
    transform: translateY(0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-fade-exit.profile-fade-exit-active {
    opacity: 0;
    transform: translateY(-$transition-fade-height);
    transition: all 300ms ease-out;
}

.none-selected .profile-page {
    pointer-events: none;
}

.page-mobile-title {
    display: none;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 5px black;
    z-index: 20;
    .title-text {
        height: 100%;
        font-family: "Roboto";
        font-size: 20px;
        display: flex;
        align-items: center;
        color: #ccc;
    }
}

.page-mobile-back-button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}

.profile-page-padding {
    padding: 50px;
    max-width: 100%;
}

.profile-editable-wrap {
    max-width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;

    .profile-editable {
        display: flex;
        max-width: 100%;
    }

    button {
        margin: 3px 0px 3px 10px;
        margin-left: 10px;
        border: none;
        background-color: #ccc;
        width: 50px;
        border-radius: 5px;
        outline: none;
        user-select: none;
        transition: all 0.2s ease-in-out;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        position: relative;
        flex: 0 0 auto;
        .button-fill {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .loader {
            animation-name: spin;
            animation-duration: 1.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            border-radius: 100%;
            border: 2px solid black;
            border-color: black black black transparent;
            position: absolute;
            margin: auto;
            width: 12px;
            height: 12px;
        }
    }

    input,
    .size-measure {
        user-select: none;
        pointer-events: none;
        background-color: transparent;
        border: 1px solid transparent;
        font-size: 26px;
        width: auto;
        color: #ccc;
        font-family: "Roboto";
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        outline: none;
        padding: 0px 0;
        margin: 3px 0;
    }

    input {
        flex: 0 1 auto;
    }

    .size-measure {
        color: transparent;
        position: absolute;
        pointer-events: none;
    }

    .profile-editable-title {
        font-size: 16px;
        font-family: "Roboto";
        margin-bottom: -5px;
        margin-top: 5px;
        transition: all 0.2s ease-in-out;
    }
}

.profile-editable-wrap.editing {
    input {
        user-select: unset;
        pointer-events: visible;
        border: 1px solid #aaa;
        padding: 3px 0;
        margin: 0px 0;
        padding-left: 10px;
    }

    button {
        margin: 0px 0px 0px 10px;
    }

    .profile-editable-title {
        font-size: 16px;
        font-family: "Roboto";
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

.profile-editable-wrap.snap {
    input {
        transition: width 0s;
    }
}

.profile-button-enter {
    transform: scale(0);
    opacity: 0px;
    position: absolute;
}

.profile-button-enter.profile-button-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.profile-button-exit {
    opacity: 1;
    transform: scale(1);
}

.profile-button-exit.profile-button-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: all 300ms;
}

@media (max-width: 768px) {
    .profile-nav-side,
    .profile-page {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .profile-nav-side {
        transition: all 0.3s;
    }

    .page-selected .profile-nav-side {
        transform: translateX(-100vw);
    }

    .profile-page {
        z-index: 10;
    }

    .page-mobile-title {
        display: flex;
    }

    .profile-fade-exit.profile-fade-exit-active {
        transform: translateY($transition-fade-height);
    }

    .profile-nav-bar-inner {
        width: 100%;
    }

    .page-wrap {
        width: 100%;
        background-color: #333;
    }

    .profile-nav-link {
        padding: 15px;
        width: 100%;
        border-radius: 0;
        display: flex;
        align-items: center;
        .material-icons {
            display: block;
            font-size: 25px;
            margin-right: 7px;
        }
    }

    .info-box {
        margin: 0px;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .info-box.account {
        flex-direction: column;
        align-items: center;
        .other-box {
            width: 100%;
            .email,
            .name {
                width: 100%;
            }
        }
    }

    .profile-editable-wrap {
        max-width: 100%;
        height: 50px;
        input,
        .size-measure {
            font-size: 18px;
        }
        .profile-editable {
            max-width: 100%;
        }
    }

    .profile-page-padding {
        padding: 0 0;
    }

    .profile-fade-enter {
        opacity: 1;
        transform: translateY(0) translateX(100vw);
    }

    .profile-fade-enter.profile-fade-enter-active {
        opacity: 1;
        transform: translateY(0) translateX(0);
        transition: all 200ms ease-out;
    }

    .profile-fade-exit {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }

    .profile-fade-exit.profile-fade-exit-active {
        opacity: 1;
        transform: translateY(0) translateX(100vw);
        transition: all 200ms ease-out;
    }
}
