.comment-wrap{
    display: flex;
    flex-direction: row;
}

.comment-pfp{
    width: 50px;
    height: 50px;
    margin: 10px 20px 20px 20px;
    border-radius: 5px;
    user-select: none;
}

.comment-content{
    color: white;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-user{
    font-weight: 700;
}

.comment-date{
    font-weight: 500;
    color: #FFF5;
}

.like-button{
    margin-top: 3px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px 4px 2px 3px;
    font-size: 14px;
    user-select: none;
    transition: all 0.1s ease;
}

.like-button:hover{
    border: 1px solid gray;
    //background-color: #FFF2;
}

.like-button.liked{
    background-color: #FFF2;    
}

.like-button:active{
    background-color: #FFF4;
    transition: all 0.0s ease;
}

.thumb-up{
    font-size: 14px;
    margin-left: 5px;
    margin-top: 2px;
}

.comment-other{
    display: flex;
    align-items: center;
}

.comment-wrap{
    p{
        padding: 0px;
        margin: 0px;
    }

    code{
        background-color: #000;
        border-radius: 4px;
        padding: 0 5px;
    }
}

.replies-wrap{
    display: flex;
    width: 100%;
}

.replies-line{
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 2px;
    background-color: #FFF4;
}

.replies-container{
    width: 100%;
    .reply-compose{
        margin-left: -10px;
    }
}

.reply-button{
    background-color: #151515;
    border: none;
    outline: none;
    color: #eee;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.1s;
}
.reply-button:hover{
    background: #333;
}
.reply-button:active{
    transform: translateY(5px);
}