.compose-comment .ql-snow{
    .ql-editor{
        color: white;
        font-family: 'Open Sans';
        font-size: 16px;
    }

    .ql-fill{
        fill: #ccc;
    }

    .ql-stroke{
        stroke: #ccc;
    }

    .ql-picker{
        color: #ccc;
    }

    code{
        background-color: #000;
    }
}

.compose-comment .ql-container.ql-snow, .compose-comment .ql-toolbar.ql-snow{
    border-left: none;
    border-right: none;
}

.compose-comment .ql-container.ql-snow{
    background-color: #0003;
}

.compose-comment{
    .post-button{
        background-color: #111;
        border: none;
        outline: none;
        color: #eee;
        font-size: 16px;
        font-family: 'Roboto';
        padding: 5px;
        width: 100px;
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.1s;
    }
    .post-button:hover{
        background: #333;
    }
    .post-button:active{
        transform: translateY(5px);
    }
}

@media (max-width: 768px) {
    .compose-comment .ql-snow{
        button{
            width: 40px;
            height: 30px;
        }
    }
}